streamlit
pandas
nltk  # 버전 정보 삭제, nltk만 기재
requests
deep-translator
pytube
openpyxl
google-generativeai  # 오타 수정: generat iveal -> generativeai
google-api-python-client
yt-dlp # 오타 수정: yt-dip -> yt-dlp
